.feed-link {
  margin-top: 20px;

  a {
    display: inline-block;
    padding: 0 15px;
    color: #87daff;
    border: 1px solid #87daff;
    border-radius: 4px;

    i {
      color: #87daff;
      font-size: 14px;
    }

    &:hover {
      color:white;
      background: #87daff;

      i { color: white; }
    }
  }
}
